# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:<br>
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:<br>
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.

## Data Science Tools
| Data Science Tools |
| --- |
| Python |
| Pandas |
| R |
| SQL |
| Numpy |
| Scikit-learn |
| TensorFlow |
| PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200

hours = minutes / 60

print("There are", hours, "hours in", minutes, "minutes.")

There are 3.3333333333333335 hours in 200 minutes.

**Objectives:**<br>

* List popular languages for Data Science<br>
* List popular libraries for Data Science<br>
* Create table of popular tools for Data Science<br>

## Author
Omer Ensar DURMUS